<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

{% with messages = get_flashed_messages() %} {% if messages %}
<div class="container mt-4">
  <section class="content">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
  </section>
</div>
{% endif %} {% endwith %}

<div class="container mt-5">
  <div class="alert alert-primary" role="alert">
    The application <strong>{{client.username}}</strong> is requesting:
    <strong>Your Email address</strong>
  </div>

  <!-- Add an ID to the form for easy reference -->
  <form id="login-form" method="POST">
    <div class="mb-3">
      <p>You haven't logged in. Log in with:</p>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        name="email"
      />
      <input
        type="password"
        class="form-control mt-2"
        placeholder="Password"
        name="password"
      />
      <div class="p-1"></div>
      <button type="button" id="submit-button" class="btn btn-primary">
        Submit
      </button>
    </div>
  </form>
</div>

<script>
  $(document).ready(function () {
    // Add a click event listener to the Submit button
    $("#submit-button").click(function () {
      // Get the form data
      var formData = $("#login-form").serialize();

      // Make an AJAX POST request to the backend
      $.ajax({
        type: "POST",
        url:
          "{{ url_for('home.request_auth', client_username=client.username) }}", // Update the URL as needed
        data: formData,
        success: function (response) {
          // Handle the response from the backend
          console.log(response);
          window.location.href =
            "{{ url_for('home.consent', client_username=client.username) }}"; // Update the URL as needed

          // You can redirect or update the page based on the response here
        },
        error: function (error) {
          // Handle any errors
          console.error(error);
        },
      });
    });
  });
</script>
